*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #003554;
    text-align: center;
    color: white;
    margin-top: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 15px;
    border: none;
    font-size: 7vmin;
    color: white;
    background-color:#001d3d;
}

.reset-btn{
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI';
    border-radius: 10px;
    border: none;
    width: 110px;
    font-size: 0.90rem;
    font-weight: 600;
}
.reset-btn:hover{
    background-color: #001d3d;
    color: rgb(246, 246, 246);
}

.msg{
    color: #ffffc7;
    font-style: italic;
    font-size: 4vmin;
    margin-top: 15px;
}
.msg-box{
    height: 30vmin;
}
.hide{
    display: none;
}